.skeleton {
    background: var(--buttonBg);
    /* Background color */
    animation: skeleton-loading 1s ease-in-out infinite alternate;
    /* Animation */
    min-width: 100px;
    border-radius: 5px;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.15;
        /* Starting opacity */
    }

    100% {
        opacity: 0.3;
        /* Ending opacity */
    }
}