.wrapper {
    display: flex;
    gap: 15px;
    padding: 25px;

}

.left {
    padding: 10px;
    border-radius: 5px;
    background: var(--cardBg);
    flex: 2.5;
    box-shadow: var(--box-shadow);


}


.left .flex {
    display: flex;
    gap: 10px;
    width: 100%;
    /* margin: 10px 0; */
    margin: -10px 0;
}

.left .field {
    margin: 15px 0;
}

.left .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
    width: 100%;
    ;
    /* border: 1px solid red */
}

.field textarea {
    min-height: 100px;
}

.left .field input,
.left .field textarea {
    width: 98%;
}


.left .flex .field input,
.left .flex .field select,
.left .flex .field textarea {
    width: 96%;
}

.field input,
.field select,
.field textarea {
    padding: 10px 0;
    padding-left: 10px;
    margin-right: 10px;
}


.left h2 {
    border-bottom: 1px solid var(--theme);
    padding-bottom: 10px;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons button {
    padding: 7px 10px;
}

.right {
    flex: 1.5
}

@media (min-width:1024px) {
    .wrapper {
        padding: 25px var(--percent);
    }
}

@media (max-width:720px) {
    .wrapper {
        flex-direction: column;
    }

}


@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }

    .left .flex {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }


}

@media (max-width:410px) {
    .wrapper {
        padding: 10px
    }
}