.wrapper {
    display: flex;
    gap: 1px;
    width: 100%;


}

.wrapper .feature {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid var(--borderColor); */
    border-radius: 5px;
    padding: 15px 10px;
    background: var(--cardBg);
    box-shadow: var(--box-shadow);
    flex: 1;
    width: 100%;
}



.wrapper .feature b {
    color: var(--icon);
    margin-bottom: 5px;
    display: inline-block;
    font-size: 150%;

}



/* .wrapper .feature:hover {
    background: var(--theme);
    color: var(--buttonC)
} */


/* .wrapper .feature:hover b {
    background: var(--theme);
    color: var(--buttonC)
} */




@media (max-width:920px) {}

@media (max-width:720px) {}

@media (max-width:570px) {
    .wrapper {
      display: flex;
      align-items: center;
      gap:10px;
      justify-content: flex-start;
      overflow-x: scroll;

    }
    .wrapper .feature {
        min-width: 180px;
    }
}