.wrapper {
    border-radius: 5px;
    background: var(--cardBg);
    padding: 15px;
}

.wrapper .top,
.wrapper .bottom {
    font-size: 90%;
}

.wrapper .top {
    color: grey;
}

.wrapper .top .right {
    color: blue;
    background-color: rgb(221, 216, 255);
    border-radius: 5px;
    padding: 3px;
}

.wrapper .top,
.wrapper .flex,
.wrapper .bottom {
    display: flex;
    justify-content: space-between;
}

.wrapper .body {
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    gap: 10px;

}

.wrapper .images {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 150px;
    overflow: scroll;
}

.wrapper .images::-webkit-scrollbar {
    width: 0;
}

.wrapper .images img {
    width: 100%;
    height: auto;
}

.wrapper .bottom .right {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

}

.wrapper .bottom .right .btn,
.wrapper .bottom .left {
    border-radius: 5px;
    padding: 5px;
    background: var(--buttonBg);
    color: white;
}

.wrapper .bottom .left .btn:nth-child(1) {
    background: aquamarine;
}

.wrapper .bottom .left {
    color: rgb(252, 255, 252);
    background-color: rgba(20, 213, 20, 0.1);

}

.wrapper .body .flex {
    font-weight: bold;
}


@media (max-width:570px) {
    .wrapper {
        padding: 10px;
    }
}

@media (max-width:480px) {
    .wrapper {
        padding: 10px;
    }


    .right {
        flex-direction: column;
    }

    .bottom {
        flex-direction: column;
        gap: 15px;
    }
}