.wrapper {
    background: var(--cardBg);
    border-radius: 5px;
    color: var(--lightF);
}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    ;
    border-bottom: 1px solid var(--borderColor);
}

.edit {
    display: flex;
    gap: 15px;
}

.wrapper .flex .phone {
    margin-bottom: 7px;
}

.wrapper .flex .location {
    font-size: 90%;
}