.wrapper {
    margin: 15px 0;
    background: var(--cardBg);
    padding: 10px;
    box-shadow: var(--box-shadow);


}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    /* margin-top: -10px; */
    ;
}

.flex .left {
    position: relative;
    /* border: 1px solid red; */
    overflow: hidden;
    border-radius: 5px;
}

.flex .left span {
    position: absolute;
    top: 0;
    right: -5px;
    height: 100%;
    background: var(--buttonBg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 5px;


}



.flex .left input,
.right button {
    padding: 7px;

}

.flex .plus__icon {
    font-size: 110%;
    font-weight: bold;
    padding: 0 3px;
    cursor: pointer;
    display: none;
}

.flex .left input {
    /* width: 100%; */
    padding-right: 25px;
    ;
    padding-left: 10px;

}

.wrapper .table__wrapper {
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: scroll;
    /* background: var(--cardBg); */
    border-radius: 5px;
    flex-direction: column;

}

.wrapper .table__wrapper thead tr {
    background: var(--buttonBg);
    color: var(--buttonC);
    border-left: 3px solid black
}

.wrapper .table__wrapperC {
    background: var(--cardBg);

}

.wrapper .table__wrapper table {
    position: relative;
}



.wrapper .pagination {
    /* background-color: var(--cardBg); */
    padding: 15px 0;
}

.wrapper table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid var(--borderColor);

}

.wrapper table th,
.wrapper table td {
    padding: 5px;
    border-bottom: 1px solid var(--borderColor);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;

}


.wrapper table .action {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; */

}

.wrapper table .action span {
    border-radius: 5px;
    padding: 3px;
    background: var(--buttonBg);
    color: var(--buttonC);
    margin: 0 10px;
    margin-left: 0;
    cursor: pointer;
}

.wrapper table .action span:nth-child(1) {
    background: red;
}

.wrapper table img {
    object-fit: cover;
}

@media (max-width:570px) {
    .flex .plus__icon {
        display: block;
    }

    .flex .plus__btn {
        display: none;
    }
}