.nav1 {
    display: block;
}

.nav2 {
    display: none;
}

.nav3 {
    display: none;
}

.footer {
    background: #3b2a8f;
    color: white;
    text-align: center;
    margin: 25px;
    padding: 15px;
    ;
    margin-top: 0;
    border-radius: 5px;

}


@media (max-width:1024px) {
    .nav1 {
        display: none;
    }

    .nav2 {
        display: block;
    }
}


@media (max-width:570px) {
    .nav1 {
        display: none;
    }

    .nav2 {
        display: none;
    }

    .nav3 {
        display: block;
    }

    .footer {
        margin: 15px;
    }
}

@media (max-width:410px) {
    .footer {
        margin:10px
    }
}