.wrapper {
    padding: 25px;
}



.card {
    background: rgb(247, 245, 245);
    padding: 10px;
    border-radius: 5px;
    /* border-top: 2px solid var(--buttonBg); */
    margin-bottom: 25px;
    box-shadow: 2px 2px 2px rgb(82, 82, 82, 0.3);
    overflow: hidden;
}

.card p {
    margin: 0
}


.card h3 {
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-left: 50px;
    margin-top: -10px;
    transform: scale(1.1);

}

.card .item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 5px 0
}

.card .item .key {
    display: flex;
    align-items: center;
    gap: 10px
}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }

    .card h3 {
        padding-left: 25px;
    }
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px
    }

    ;

    .card {
        padding: 0
    }
     .card h3 {
        padding-left: 20px;
    }
}